<div>
    <p>Minor se utiliza para borrar todas las tags que tengan minor igual al introducido y para cambiarse a la rama
        que coincida. Ejemplo de minor igual a 12:</p>
    <p>Tag: 1.<strong>12</strong>.0-SNAPSHOT</p>
    <p>Rama: v<strong>12</strong></p>
</div>