<div>
    <p>El tiempo máximo en milisegundos que espera para comprobar que se ha terminado de compilar una tarea de Jenkins
        asociada a un proyecto.</p>
    <p>Cuando supere ese tiempo si la tarea no se ha compilado, se parará la ejecución del plugin y mostrará un
        error.</p>
</div>