<div>
    <p>Listado de nombres de proyectos de los cuales se generará la versión que se haya seleccionado.</p>
    <p>El nº de proyectos es ilimitado y se pueden ordenar/mover de posición en la configuración,
        tal y como se ordenen se ejecutarán en el plugin.</p>
</div>