<div>
    <p>El nombre del proyecto sería <strong>schaman-ws-base</strong> en el ejemplo:</p>
    <p>https://desarrollo_ci_bluu@bitbucket.org/bluu-software/<strong>schaman-ws-base</strong>.git</p>
</div>